.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 280px;
    height: 280px;
    box-shadow: 10px 5px 2px #283c63;
}

.card-project.-blue {
    background-color: black;
}