.main-section{
    background-color: #283c63;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #19263f;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgSecond {
    background-color: #8e6f00;
}

.main-section.-bdblack {
    border-color: black;
}
